@font-face {
    font-family: 'ViaodaLibre';
    src: local('ViaodaLibre-Regular'), local('ViaodaLibre Regular'),
    url('./fonts/ViaodaLibre-Regular.ttf');
}

main {
    display: grid;
    width: 100%;
    max-width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}